/* ایجاد سایه برای ایجاد جلوه سه‌بعدی */
.header, .game-info, .energy-info, .image-container img, button {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* افزودن افکت عدد +4 هنگام کلیک */
.add-effect {
    position: absolute;
    font-size: 24px;
    color: #00f;
    font-weight: bold;
    animation: moveUp 1s ease-out forwards;
}

@keyframes moveUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}

/* حالت انتخاب شده برای منوی پایین */
.navigation-item.active {
    background-color: rgba(0, 0, 255, 0.2);
    box-shadow: inset 0px 4px 6px rgba(0, 0, 255, 0.5);
    border-radius: 10px;
}
